<div class="form-control">
	<label for="loginIndex">Логин</label>
	<input type="text" id="loginIndex" class="login" name="login" placeholder="Ivanivanov">
	<small class="error">Error</small>
</div>
<div class="form-control last" id="form-control__pas">
	<label for="passwordIndex">Пароль</label>
	<input type="password" id="passwordIndex" name="password" class="password" placeholder="Пароль">
	<small class="error">Error</small>
</div>