<div class="form-control">
	<label for="emailReg">Почта</label>
	<input type="text" id="emailReg" class="email" name="email" placeholder="pochta@yandex.ru">
	<small class="error">Error</small>
</div>
<div class="form-control">
	<label for="loginReg">Логин</label>
	<input type="text" id="loginReg" class="login" name="login" placeholder="Ivanivanov">
	<small class="error">Error</small>
</div>
<div class="form-control">
	<label for="firstNameReg">Имя</label>
	<input type="text" id="firstNameReg" class="first_name" name="first_name" placeholder="Иван">
	<small class="error">Error</small>
</div>
<div class="form-control">
	<label for="secondNameReg">Фамилия</label>
	<input type="text" id="secondNameReg" class="second_name" name="second_name" placeholder="Иванов">
	<small class="error">Error</small>
</div>
<div class="form-control">
	<label for="phoneReg">Телефон</label>
	<input type="text" id="phoneReg" class="phone" name="phone" placeholder="+7 (909) 967 30 30">
	<small class="error">Error</small>
</div>
<div class="form-control">
	<label for="passwordRegReg">Пароль</label>
	<input type="password" id="passwordRegReg" name="passwordRegReg" class="password" placeholder="Пароль">
	<small class="error">Error</small>
</div>
<div class="form-control last">
	<label for="passwordRegTwoReg">Пароль (ещё раз)</label>
	<input type="password" id="passwordRegTwoReg" name="passwordRegTwoReg" class="passwordTwo" placeholder="Пароль">
	<small class="error">Error</small>
</div>