<div class="form-control" id="form-control__pldPas">
	<label for="oldPassword">Старый пароль</label>
	<input type="password" id="oldPassword" name="oldPassword" class="oldPassword" placeholder="Пароль">
	<small class="error">Error</small>
</div>
<div class="form-control" id="form-control__newPassword">
	<label for="newPassword">Новый пароль</label>
	<input type="password" id="newPassword" name="newPassword" class="password" placeholder="Пароль">
	<small class="error">Error</small>
</div>
<div class="form-control last" id="form-control__newPasswordTwo">
	<label for="newPasswordTwo">Повторите новый пароль</label>
	<input type="password" id="newPasswordTwo" name="newPasswordTwo" class="newPasswordTwo" placeholder="Пароль">
	<small class="error">Error</small>
</div>