<div class="wrapper__loadAvatar">
	<div class="loadAvatar">
		<h3>{{title}}</h3>
		<div class="loadAvatar_change">
			{{{chooseFile}}}
		</div>
		<form class="loadAvatar_btn" action="/profile">
			{{{buttonBlue}}}
		</form>
		<div class="loadAvatar_error">
			<p>{{message}}</p>
		</div>
	</div>
</div>