<div class="wrapper__profileChangePasword">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form id="changePassword__form" class="profile__form" name="changePassword__form" action="/profile">
				{{{profilePas}}}
				<div class="wrap__btn">
					<div class="btn_width">
						{{{btnSaveCangePasword}}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>