.btn_blue {
	background-color: $colorBlue;
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	color: $colorWhite;
	text-align: center;
	transition: all 0.3s linear;

	&:hover {
		background-color: $colorGreen;
		color: $colorFont;
	}
}
