<div class="wrapper__profileChange">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form id="changeProfile__form" class="profile__form" name="changeProfile__form" action="/profile">
				{{{changeProfile}}}
				<div class="wrap__btn">
					<div class="btn_width">
						{{{btnSave}}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>