<div class="wrapper__profile">
	<div class="wrap__arrow">
		<div class="blueCircle">
			<div>
				<a href="/choseChat"><span>&#8656;</span></a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form id="profile__form" class="profile__form" name="profile__form" action="#">
				<div class="form-control">
					<label for="email">Почта</label>
					<input type="text" id="email" class="email" name="email" readonly="readonly"
						value="pochta@yandex.ru">
				</div>
				<div class="form-control">
					<label for="login">Логин</label>
					<input type="text" id="login" class="login" name="login" readonly="readonly" value="ivanivanov">
				</div>
				<div class="form-control">
					<label for="first_name">Имя</label>
					<input type="text" id="first_name" class="first_name" name="first_name" readonly="readonly"
						value="Иван">
				</div>
				<div class="form-control">
					<label for="second_name">Фамилия</label>
					<input type="text" id="second_name" class="second_name" name="second_name" readonly="readonly"
						value="Иванов">
				</div>
				<div class="form-control">
					<label for="display_name">Имя в чате</label>
					<input type="text" id="display_name" class="display_name" name="display_name" readonly="readonly"
						value="Иван">
				</div>
				<div class="form-control">
					<label for="phone">Телефон</label>
					<input type="text" id="phone" class="phone" name="phone" readonly="readonly"
						value="+7 (909) 967 30 30">
				</div>
			</form>
			<div class="wrap__profileBtn">
				<div class="changeData btn">
					{{{changeProfile_btn}}}
				</div>
				<div class="changePassword btn">
					{{{changePassword_btn}}}
				</div>
				<div class="out btn">
					{{{buttonTextOut}}}
				</div>
			</div>
		</div>
	</div>
</div>