<div class="wrapper__loadAvatar">
	<div class="loadAvatar">
		<h3 class="title">{{title}}</h3>
		<div class="loadAvatar_change">
			{{{chooseFile}}}
		</div>
		<form class="loadAvatar_btn" action="/fileError">
			{{{buttonBlue}}}
		</form>
	</div>
</div>