.wrapper__registration {
	@include wrapper(center, center);

	.registration {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-family: Inter;
		font-weight: 500;
		background-color: $colorWhite;
		width: 340px;
		height: 615px;
		overflow: hidden;
		padding: 30px;
		border: none;
		border-radius: 6px;

		.registration__form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 95%;
			width: 100%;

			h2 {
				font-size: 20px;
				margin-bottom: 50px;
				color: $colorBlack;
				text-align: center;
			}

			.form-control {
				display: flex;
				flex-direction: column;
				margin-bottom: 5px;

				label {
					color: $colorGrey;
					font-size: 9px;
					margin-bottom: 8px;
				}

				input {
					border-bottom: 1px solid $colorBlue;

					&::placeholder {
						color: $colorBlack;
						font-size: 13px;
					}
				}

				small {
					visibility: hidden;
				}
			}

			.last {
				margin-bottom: 30px;
			}
		}
	}
}
