<div class="wrapper__registration">
	<div class="registration">
		<form id="registration__form" class="chat__form" name="registration__form" action="/choseChat">
			<h2 class="title">{{title}}</h2>
			{{{inputReg}}}
			{{{buttonBlue}}}
		</form>
		<div>
			{{{buttonText}}}
		</div>
	</div>
</div>