<div class="wrap_reload">	
	<img src={{src}} alt="avatar" class="avatar_img" id="userAvatar">	
	<form>
		<input type="file" id="avatarUploader" class="loadAvatar_input" accept="image/png, image/gif, image/jpeg" />
		
		<div class="loadAvatar_btn">
			{{{buttonBlue}}}
		</div>
	</form>
</div>