<div class="wrapper___fourHundredFour">
	<div class="content">
		<h1 class="title">Warring!</h1>
		<p class="text">введенны не вереные данные или проблемы с сетью </p>
		<div class="btn_text">
			{{{buttonText}}}
		</div>
	</div>
</div>