<div class="wrapper__index">
	<div class="enterChat">
		<form id="enterChat__form" class="chat__form" name="enterChat__form" action="/choseChat">
			<h1 class="title">{{title}}</h1>
			{{{inputIndex}}}
			{{{buttonBlue}}}
		</form>
		<div id="toRegistration__form" name="toRegistration__form">
			{{{buttonText}}}
		</div>
	</div>
</div>