<div class="wrapper__index">
	<div class="enterChat">
		<form id="enterChat__form" class="enterChat__form" name="enterChat__form" action="/choseChat">
			<h3>{{title}}</h3>
			<div class="form-control">
				{{{inputLogin}}}
				<small>Error</small>
			</div>
			<div class="form-control last" id="form-control__pas">
				<label for="password">Пароль</label>
				<input type="password" id="password" name="password" class="password" placeholder="Пароль">
				<small>Error</small>
			</div>
			{{{buttonBlue}}}
		</form>
		<div id="toRegistration__form" name="toRegistration__form">
			{{{buttonText}}}
		</div>
	</div>
</div>