<div class="wrapper__choseChat">
	<div class="allChats">
		<div class="profile">
			<div class="profile__outProfile">
				<span>&lt;</span>{{{signOut}}}
			</div>
			<div class="profile__inProfile">
				{{{inProfile}}}<span> &gt;</span>
			</div>
		</div>
		<div class="searchChat">
			<input type="text" id="search" class="search" name="search" placeholder="&#128269;&ensp;поиск">
		</div>
		<ul class="chatsNow">
			<li class="chat">
				<div class="chat__logo"></div>
				<div class="chat__content">
					<h3 class="chat__title">500!</h3>
					<a href="/fiveHundred" class="chat__massage"><span class="myMassage"></span> Five Hundred!
						500!</a>
				</div>
				<div class="chat__option">
					<div class="option_del">
						<p>&#10006;</p>
					</div>
					<div class="option_lookTime"><time>11:00</time></div>
					<div class="newMassage">
						<div class="newMassage_namber">1</div>
					</div>
				</div>
			</li>
			<li class="chat">
				<div class="chat__logo"></div>
				<div class="chat__content">
					<h3 class="chat__title">404!</h3>
					<a href="/fourHundredFour" class="chat__massage"><span class="myMassage"></span>Four
						Hundred Four 404!</a>
				</div>
				<div class="chat__option">
					<div class="option_del">
						<p>&#10006;</p>
					</div>
					<div class="option_lookTime"><time>01:00</time></div>
					<div class="newMassage">
						<div class="newMassage_namber">14</div>
					</div>
				</div>
			</li>
			<li class="chat">
				<div class="chat__logo"></div>
				<div class="chat__content">
					<h3 class="chat__title">Chat Online!</h3>
					<a href="/chatOnline" class="chat__massage"><span class="myMassage">upss:</span> Lorem
						i</a>
				</div>
				<div class="chat__option">
					<div class="option_del">
						<p>&#10006;</p>
					</div>
					<div class="option_lookTime"><time>10:00</time></div>
					<div class="newMassage">
						<div class="newMassage_namber">2</div>
					</div>
				</div>
			</li>
			<li class="chat">
				<div class="chat__logo"></div>
				<div class="chat__content">
					<h3 class="chat__title">no chat!</h3>
					<a href="/choseChat" class="chat__massage"><span class="myMassage">upss:</span>Lorem
						i</a>
				</div>
				<div class="chat__option">
					<div class="option_del">
						<p>&#10006;</p>
					</div>
					<div class="option_lookTime"><time>10:10</time></div>
					<div class="newMassage _noActive">
						<div class="newMassage_namber">5</div>
					</div>
				</div>
			</li>
			<li class="chat">
				<div class="chat__logo"></div>
				<div class="chat__content">
					<h3 class="chat__title">Ivan</h3>
					<a href="#" class="chat__massage"><span class="myMassage"></span> Lorem ipsum dolor sit amet
						consectetur
						adipisicing elit. Architecto nisi, non ducimus fugit expedita, possimus eaque in explicabo
						fuga atque, error sequi. Sapiente eos deserunt, sed cum praesentium corrupti earum!</a>
				</div>
				<div class="chat__option">
					<div class="option_del">
						<p>&#10006;</p>
					</div>
					<div class="option_lookTime"><time>11:00</time></div>
					<div class="newMassage">
						<div class="newMassage_namber">1</div>
					</div>
				</div>
			</li>
			<li class="chat">
				<div class="chat__logo"></div>
				<div class="chat__content">
					<h3 class="chat__title">Hola</h3>
					<a href="#" class="chat__massage"><span class="myMassage"></span> Lorem ipsum dolor sit amet
						consectetur
						adipisicing elit. Architecto nisi, non ducimus fugit expedita, possimus eaque in explicabo
						fuga atque, error sequi. Sapiente eos deserunt, sed cum praesentium corrupti earum!</a>
				</div>
				<div class="chat__option">
					<div class="option_del">
						<p>&#10006;</p>
					</div>
					<div class="option_lookTime"><time>11:00</time></div>
					<div class="newMassage">
						<div class="newMassage_namber">5</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="chatContent">
		<div class="noChoseChat">
			<p>Выберите чат чтобы отправить сообщение</p>
		</div>
	</div>
</div>