.wrapper__searchChat {
	@include wrapper(flex-start, flex-start);
	max-width: 100vw;
	width: 100%;

	.allChats {
		display: flex;
		flex-direction: column;
		max-height: 100vh;
		height: 100vh;
		width: 18.6%;
		overflow: hidden;
		padding: 21px 10px 0 10px;
		background-color: $colorBgChat;

		.profile {
			display: flex;
			justify-content: space-between;
			margin-bottom: 23px;

			a {
				color: $colorGrey;
				font-size: 12px;
				transition: all 0.3s linear;

				&:hover {
					color: $colorBlack;
				}
			}
		}

		.searchChat {
			margin-bottom: 14px;

			.search {
				background-color: $colorBg;
				width: 100%;
				height: 32px;
				border-radius: 5px;
				padding: 0 5px;

				&::placeholder {
					color: $colorGrey;
					font-size: 12px;
					text-align: center;
					text-transform: capitalize;
				}
			}
		}

		.chatsNow {
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			.chat {
				display: flex;
				border-top: 1px solid $colorLine;
				height: 71px;
				padding: 12px 0;
				transition: all 0.3s linear;

				&:hover {
					background-color: $colorActiveChat;
				}

				.chat__logo {
					border-radius: 50%;
					background-color: $colorBg;
					padding: 23.5px;
					width: 17%;
				}

				.chat__content {
					width: 63%;
					margin-left: 15px;
					margin-right: 10px;
					line-height: 16px;
					overflow: hidden;

					.chat__title {
						color: $colorBlack;
						font-weight: 600;
					}

					.chat__massage {
						font-size: 12px;
						color: $colorGrey;
						max-height: 30px;
						cursor: pointer;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;

						.myMassage {
							font-weight: 600;
							color: $colorBlack;
						}
					}
				}

				.chat__option {
					width: 20%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;

					.option_del {
						width: 100%;
						display: flex;
						justify-content: flex-end;
						padding-right: 7px;
						transition: all 0.15s linear;
						cursor: pointer;

						&:hover {
							color: $colorRed;
						}
					}

					.option_lookTime {
						font-size: 9px;
						color: $colorGrey;
					}

					.newMassage {
						@include blueCircle(20px);
					}

					._noActive {
						display: none;
					}
				}
			}
		}
	}

	.wrap__chatContent {
		width: 77.4%;
		max-height: 100vh;
		height: 100vh;
		overflow: hidden;

		.chatContent {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 10px 31px;
			background-color: $colorBg;
			overflow: auto;

			.wrap__header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-height: 10%;
				width: 100%;
				margin-bottom: 48px;
				padding-bottom: 10px;
				border-bottom: 1px solid $colorLine;

				.header__contant {
					display: flex;
					align-items: center;

					.chat__logo {
						border-radius: 50%;
						background-color: $colorGrey;
						padding: 23.5px;
						width: 17%;
					}

					.chat__title {
						margin-left: 10px;
						font-size: 13px;
						font-weight: 600;
					}
				}
			}

			.data_Message {
				width: 100%;

				.data__contant {
					text-align: center;
					margin-bottom: 30px;
					font-weight: 500;
					font-size: 12px;
					color: $colorGrey;
				}
			}

			.massages {
				display: flex;
				flex-direction: column;
				width: 100%;
				line-height: 15px;
				font-size: 12px;
				font-weight: 500;
				color: $colorBlack;

				.massages__content {
					display: flex;
					align-items: flex-end;
					max-width: 49%;
					margin-bottom: 10px;

					p {
						text-align: start;
					}

					img {
						max-width: 320px;
						border-radius: 12px;
						object-fit: cover;
					}

					.time {
						font-size: 9px;
						color: $colorGrey;
						padding: 2px;
					}
				}
			}

			.my__massages {
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				width: 100%;
				line-height: 15px;
				margin-bottom: 30px;

				.massages__content {
					display: flex;
					align-items: flex-end;
					max-width: 50%;
					background-color: $colorActiveChat;
					border-radius: 5px;
					padding: 11px;
				}

				.time {
					font-size: 9px;
					color: $colorGrey;
				}
			}

			.wrap__footer {
				max-height: 10%;
				width: 100%;

				.footer__contant {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.added {
						transform: scale(2) rotate(35deg);
						padding: 2px;
					}

					.inputMassage {
						width: 90%;

						input {
							width: 100%;
							height: 32px;
							border-radius: 32px;
							padding: 0 20px;
							overflow: hidden;

							&::placeholder {
								color: $colorGrey;
								font-size: 12px;
								text-align: start;
								text-transform: capitalize;
							}
						}
					}

					.sendMassage {
						@include blueCircle(28px);
						transition: all 0.3s linear;

						a {
							color: $colorWhite;
							font-size: 24px;
						}

						&:hover {
							transform: rotate(-365deg);
							background-color: green;
						}
					}
				}
			}
		}
	}
}
