<div class="wrapper__searchChat">
	<div class="allChats">
		<div class="profile">
			<div class="profile__outProfile">
				<span>&lt;</span>{{{signOut}}}
			</div>
			<div class="profile__inProfile">
				{{{inProfile}}}<span> &gt;</span>
			</div>
		</div>
		<div class="searchChat">
			<input type="text" id="search" class="search" name="search" placeholder="&#128269;&ensp;поиск">
		</div>
		<ul class="chatsNow">
			<li class="chat">
				<div class="chat__logo"></div>
				<div class="chat__content">
					<h3 class="chat__title">Chat Online!</h3>
					<a href="/chatOnline" class="chat__massage"><span class="myMassage">upss:</span> Lorem
						i</a>
				</div>
				<div class="chat__option">
					<div class="option_del">
						<p>&#10006;</p>
					</div>
					<div class="option_lookTime">10:00</div>
					<div class="newMassage">
						<div class="newMassage_namber">2</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="wrap__chatContent">
		<div class="chatContent">
			<div class="wrap__header">
				<div class="header__contant">
					<div class="chat__logo"></div>
					<h3 class="chat__title">chat online!</h3>
				</div>
				<div class="chat__change">
					<span>&#8942;</span>
				</div>
			</div>
			<section class="data_Message">
				<p class="data__contant">19 июня</p>
			</section>
			<section class="massages">
				<div class="massages__content">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem rerum sint similique
						voluptatem iusto quidem aliquid, repellendus nihil, quibusdam sit omnis atque accusamus
						maiores quia aspernatur numquam non repudiandae!</p>
					<p class="time">11:00</p>
				</div>
			</section>
			<section class="massages">
				<div class="massages__content">
					<img src="{{src}}" alt="my_foto">
					<p class="time">11:00</p>
				</div>
			</section>
			<section class="my__massages">
				<div class="massages__content">
					<p>Hola Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fuga assumenda
						temporibus consequatur magni. Reprehenderit amet sint, quibusdam ratione quis nisi quae,
						deserunt eius accusantium consequatur dignissimos esse autem
						provident.&emsp;<span>&#10003;&#10003;</span></p>
					<p class="time">11:00</p>
				</div>
			</section>
			<div class="wrap__footer">
				<div class="footer__contant">
					<div class="added"><a href="#"><span>&#128206;</span></a></div>
					<div class="inputMassage">
						<input type="text" id="massage" class="massage" name="massage" placeholder="Сообщение">
					</div>
					<div class="sendMassage">
						<div><a href="#"><span>
									&#8605;</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>