<div class="wrap__avatar">
	<a class="profile__avatar">
		<div>
			<img src={{src}} alt="avatar" class="avatar img">
		</div>
		<p class="changeAvatar">Поменять<br>аватар</p>
	</a>
	<h3 class="displayName">{{displayName}}</h3>
</div>