$colorBlue: #3369f3;
$colorWhite: #ffffff;
$colorBg: #e5e5e5;
$colorBgChat: #fbfbfb;
$colorGrey: #999999;
$colorBlack: #1e1e1e;
$colorLine: #eaeaea;
$colorActiveChat: #e4edfd;
$colorBgImage: #efefef;
$colorRed: #ff0000;

@mixin wrapper($justifyContent, $alignItems) {
	font-family: Inter;
	font-weight: 500;
	font-size: 13px;
	min-height: 100vh;
	background-color: $colorBg;
	display: flex;
	justify-content: $justifyContent;
	align-items: $alignItems;
}

@mixin blueCircle($radius) {
	border-radius: 50%;
	width: $radius;
	height: $radius;
	background-color: $colorBlue;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		font-size: 11px;
		color: $colorWhite;
		overflow: hidden;
	}
}