<a id={{id}} class="chatLink">
	<li class="chat">
		<div class="chat__logo"></div>
		<div class="chat__content">
			<h3 class="chat__title">{{title}}</h3>
			<p class="chat__message">{{last_message}}</p>
		</div>	
	</li>
</a>